@charset "utf-8";

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;}

body{
overflow-x: hidden;
}

header{
width: 100%;
height: 100vh;
background-color: #b7eee7;
display: flex;
justify-content: center;
align-items: center;
}
h1{font-size: 48px;}

.gallery{
max-width: 800px;
margin: 300px auto;
}

.photo-box{
margin-bottom: 300px;
position: relative;
}

.caption{
width: 50%;
padding: 40px 30px;
background-color: hwb(110 73% 1%);
position: absolute;
right:-100px;
bottom:-70px;
box-shadow: 16px 16px 0 #f2e6ad;
}

.caption>h2{
margin-bottom: 20px;

}
.txt{
margin-bottom: 20px;
line-height: 1.8;

}

.more>a{
color: #111;
padding: 10px;
}

.more>a::after{
content:"";
display: inline-block;
width: 12px;
height: 12px;
border-top: 2px solid #111;
border-right: 2px solid #111;
transform: rotate(45deg);
margin-left: 20px;
transition: 0.2;
}
.more>a:hover::after{
margin-left: 40px;
}

.photo-box:nth-of-type(2)>.caption{
left:-100px
}

.content-wrapper{
width: 90%;
display: flex;
justify-content:space-between;
margin: 0 auto 300px;}
.content-box{
width: 24%;
padding: 16px;
box-shadow: 0 0 6px #aaa;
}

.content-box>img{
margin-bottom: 20px;
}

#to-top{
width: 44px;
height: 44px;
position: fixed;
right:50px;
bottom:50px;
display: none;}