@charset "utf-8";
html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;}

h1{
    text-align: center;
    margin: 30px 0;
}

.banner-wrapper{
    display: flex;
    max-width: 1200px;
    margin: 50px auto 150px;
    justify-content: space-between;
}

.banner-box{
    width: 48%;
}
.banner-box>h2{
    margin-bottom: 20px;
}

.banner-box>p{
    height: 250px;
    
}


.banner-sp{
    width: 320px;

}

.banner-box>dl{
    margin: 20px 0;



}
.banner-box dt{
   font-size: 18px;
   font-weight: bold;
}
.banner-box dd{
  margin: 16px;

}

/* カラー情報 */
.banner-box span{
    margin-right: 20px;
    font-size: 22px;
}

.banner-box span::before{
display: inline-block;
content:"";
width: 40px;
height: 40px;
margin-right: 10px;
}

/* USENのバナー */
.usen>.banner-box span:first-of-type::before{
    background-color: #43c625;

}

.usen>.banner-box span:nth-of-type(2)::before{
    background-color: #ffff00;
}

.usen>.banner-box span:nth-of-type(3)::before{
    background-color: #ff7301;
}



/* 水族館のバナーPC */

.aquarium>.banner-box span:first-of-type::before{
    background-color: #17A8BB;

}

.aquarium>.banner-box span:nth-of-type(2)::before{
    background-color: #0A8FAD;
}

.aquarium>.banner-box span:nth-of-type(3)::before{
    background-color: #2C6CB5;
}


/* 水族館のバナーSP */
.aquarium>.sp span:first-of-type::before{
    background-color: #17A8BB;
}


.aquarium>.sp span:nth-of-type(2)::before{
    background-color: #185CE0;
}


.aquarium>.sp span:nth-of-type(3)::before{
    background-color: #000000;
}










/* 既存サイト風のバナーPC */

.ham>.banner-box span:first-of-type::before{
    background-color: #2e2e2e;

}

.ham>.banner-box span:nth-of-type(2)::before{
    background-color: #e39902;
}

.ham>.banner-box span:nth-of-type(3)::before{
    background-color: #9f4e03;
}



/* 既存サイト風のバナーPC */

.ham>.sp span:first-of-type::before{
    background-color: #2e2e2e;

}

.ham>.sp span:nth-of-type(2)::before{
    background-color: #ffeab0;
}

.ham>.sp span:nth-of-type(3)::before{
    background-color: #ff0000;
}









@media(max-width:767px){
    .banner-wrapper{
        display: block;
    }

    .banner-box{
        width: 100%;
        margin-bottom: 80px;
    }

    .banner-box>p{
        margin: 0 auto;
    }
    .banner-box span{
        display: block;
    }





}