@charset "utf-8";

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;}


h1{
    margin: 50px 0 100px ;
}


.main-visual{
    margin: 0 auto;
    width: 80%;
}



.btn-wrapper{
    text-align: center;
    margin-bottom: 100px;

}
.btn-wrapper>button{
    display: inline-block;
    border:2px solid #b3d4fc;
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 20px;
}

.btn-wrapper>button.mixitup-control-active{
    background-color: #516b73; 
    color: #fff; 
} 

.thumb-wrapper{
    width: 90%;
    margin: 0 auto 100px;
    display: flex;
    flex-wrap: wrap;
    gap:80px 40px;
}




.mix{
    width: calc((100% - 80px) / 3);
    padding: 16px;

}

.mix:hover{
    box-shadow: 0 0 8px #999;
    transition: 0.2s;
}

.mix h2{
    color: #222;
    margin-bottom: 10px;
    font-size: 24px;
}


   /*  作品ページ部分 */
    .pages>header{
        text-align: center;
    }

   .pages>main{
    max-width: 960px;
    margin: 50px auto 100px;

   }
   .txt-box{
    max-width: 720px;
    margin: 0 auto 100px;
   }

   .to-page{
    width: 70%;
    margin: 0 auto 150px ;
    background-color: #56da73;
    border-radius: 10px;
    

    }

  .to-page>a::after{
    display: inline-block;
    content:"";
    height: 30px;
    width: 44px;
    position: relative;
    right: 210px;
    top: 15px;
    margin-right: auto;
    background: url(../assets/img/portfolio/arrow-up-right-from-square-solid.svg)no-repeat
    10px 0/20px;
  }

   .to-page>a{
    display: block;
    text-align: center;
    padding: 20px 0;
    color: #222;
    font-size: 24px;
    text-decoration: underline;
    text-underline-offset:3px;
   }

   .to-page>a:hover{
    background-color: #5ced7b;
    border-radius: 10px;
   }

  
   .close{
    width: 30%;
    margin: 0 auto ;
    background-color: #a3432a;
    border-radius: 10px;
    padding: 20px 0;
    display: block;
    color:#fff ;
    text-decoration: underline;
    text-underline-offset:3px;
    text-align: center;
    }
    .close:hover{
        background-color: #c55236;
    }

