@charset "utf-8";

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;}


h1{
    margin: 50px 0;
}

/* メディアクエリ */
.main-visual{
    margin: 0 auto;
    width: 50%;

}

img{width: 100%;}


.btn-wrapper{
    text-align: center;
    margin-bottom: 100px;

}
.btn-wrapper>button{
    display: inline-block;
    border:2px solid #b3d4fc;
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 20px;
}

.btn-wrapper>button.mixitup-control-active{
    background-color: #516b73; 
    color: #fff; 
} 




.thumb-wrapper{
    width: 90%;
    margin: 0 auto 100px;
    display: flex;
    flex-wrap: wrap;
    gap:80px 40px;
}

.thumb-wrapper img{
    transition: 0.2s;
 
}

.thumb-wrapper img:hover{
            transform: scale(1.1);
        

        }


.mix{
    width: calc((100% - 80px) / 3);
    padding: 16px;

}

.mix:hover{
    box-shadow: 0 0 8px #999;
    transition: 0.2s;
}

.mix h2{
    color: #222;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

/* 文字の調整 */
.cate-1{
    text-align: center;
}

.project{
    max-width: 300px;
    margin: 0 auto;

}


   /*  作品ページ部分 */
    .pages>header{
        text-align: center;
    }




   .pages>main{
    max-width: 1280px;
    margin: 50px auto 100px;

   }

   .pages>.main-visual{
    max-width: 960px;
    margin: 50px auto 100px;
   }

   .txt-wrapper{
    max-width: 960px;
    display: flex;
   flex-wrap: wrap;
    margin: 0 auto;
    
   }

  





   .box-wrapper{
    max-width: 1280px;
    display: flex;
   flex-wrap: wrap;
    margin: 0 auto;
    
   }

   .main-visual>p{
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #17622b;
    padding: 10px;
    
   }


/* 制作期間 */

   /* レスポンシブmw500 */

  /*  1-1-2用レイアウト */
   .txt-box-1-2-1{
   width: 80%;
    margin: 0 auto 150px;
   background-color: #fafafa;
    padding: 30px 20px;
    position: relative;
    border: 1px solid #000;
    
   } 

.txt-box-1-2-1>img{
    height: 10%;
    
}
   

   .txt-box-1-2-1>h2{
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-left: 40px;
    font-size: 32px;
    background-color: #cfcfcf;
    border-radius: 10px;
    max-width: 600px;
   }

   .txt-box-1-2-1>p{
    padding: 0 30px;
    text-align: left;
    line-height: 1.7;
    font-size: 20px;
    
   }

   .photo-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    gap: 30px;
   }


   .txt-box-1-2-1>p>span{
    font-weight: 1000;
   }

   .txt-box-1-2-1>h2::after{

    content:"";
    background: url(../assets/img/portfolio/clock-solid.svg)no-repeat center center /contain;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 38px;
    left: 21px;
   }

/* 1-1-2用レイアウト */
.production-box-1-2-1{
    max-width: 500px;
    margin: 0 auto 100px ;
  
  
    padding: 30px 20px;
    position: relative;
    border: 1px solid #000;
    background-color: #fafafa;
    
}

.production-box-1-2-1>h2{
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-left: 40px;
    font-size: 32px;
    background-color: #c9e7c9;
    border-radius: 10px;
    max-width: 600px;
   
    
   }
   .production-box-1-2-1>p{
    padding: 0 30px;
    text-align: left;
    line-height: 1.5;
    font-size: 20px;

    
    
   }


   .production-box-1-2-1>h2::after{

    content:"";
    background: url(../assets/img/portfolio/gear-solid.svg)no-repeat center center /contain;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 38px;
    left: 22px;
   }

/* ここまで 1-1-2用レイアウト */






/* ここから2-2 */

   .txt-box{
    width: 45%;
    margin: 100px auto 150px;
    padding: 30px 20px;
    position: relative;
    border: 1px solid #000;
    background-color: #fafafa;
    
   } 

   .txt-box>h2{
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-left: 40px;
    font-size: 32px;
    background-color: #cfcfcf;
    border-radius: 10px;
    
   }
   .txt-box>p{

    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    padding: 0 15px;
    
    }


   .txt-box>h2::after{
    
    content:"";
    background: url(../assets/img/portfolio/clock-solid.svg)no-repeat center center /contain;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 38px;
    left: 22px;
   }














   .production-box{
    width: 45%;
    margin: 100px auto 150px;
    padding: 30px 20px ;
    position: relative;
    border: 1px solid #000;
    background-color: #fafafa;
    
   } 

   .production-box>h2{
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-left: 40px;
    font-size: 32px;
    background-color: #c9e7c9;
    border-radius: 10px;
    
   }
   .production-box>p{

    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    padding: 0 15px;
    
    }


       .production-box>h2::after{

        content:"";
        background: url(../assets/img/portfolio/gear-solid.svg)no-repeat center center /contain;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 38px;
        left: 22px;
       }




/* ポイント部分 */



/* レスポンシブmax-width720 */
   .point-box{
    width: 45%;
    margin: 0 auto 150px;
    padding: 30px 20px;
    position: relative;
    border: 1px solid #000;
    background-color: #fafafa;
    width: fit-content;
   } 

   .point-box>h2{
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-left: 40px;
    font-size: 32px;
    background-color: #e6d8d8;
    border-radius: 10px;
    
   }
   .point-box>p{

    font-size: 20px;
    text-align: left;
    line-height: 1.7;



    
    
    }

    .point-box span{
        color: red;
        font-size: 14px;
    }

    .point-box>h2::after{

        content:"";
        background: url(../assets/img/portfolio/file-lines-regular.svg)no-repeat center center /contain;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 38px;
        left: 22px;
       }



/* 反省点部分 */

/* レスポンシブmax-width720 */
   .Reflection-box{
    width: 45%;
    margin: 0 auto 150px;
    background-color: #daf2ce;
    padding: 30px 20px;
    position: relative;
    border: 1px solid #000;
    background-color: #fafafa;
    width: fit-content;
   } 


   .Reflection-box>h2{
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-left: 40px;
    font-size: 32px;
    background-color: #c9eaeb;
    border-radius: 10px;

    
    
   }
   .Reflection-box>p{

    font-size: 20px;
    text-align: left;
    line-height: 1.7;
    
    
   }

    .Reflection-box>h2::after{

        content:"";
        background: url(../assets/img/portfolio/flag-solid.svg)no-repeat center center /contain;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 38px;
        left: 22px;
       }

.Reflection-box>img{
    width: 500px;
}


   /* ボタン */

   .to-page{
    width: 80%;
    margin: 0 auto 150px ;
    background-color: #56da73;
    border-radius: 10px;
    

    }



   .to-page>a{
    display: block;
    text-align: center;
    padding: 20px;
    color: #222;
    font-size: 24px;
    text-decoration: underline;
    text-underline-offset:3px;

   }

   .to-page>a:hover{
    background-color: #5ced7b;
    border-radius: 10px;
   }

    .to-page>a::after{
    /* display: inline-block; */
    content:"";
    height: 30px;
    width: 44px;
    position: relative;
    right: 210px;
    top: 15px;
    
   
   
/*     background: url(../assets/img/portfolio/arrow-up-right-from-square-solid.svg)no-repeat 
    10px 0/20px; */
  }
   .close{
    width: 30%;
    margin: 0 auto ;
    background-color: #a3432a;
    border-radius: 10px;
    padding: 20px 0;
    display: block;
    color:#fff ;
    text-decoration: underline;
    text-underline-offset:3px;
    text-align: center;
    }
    .close:hover{
        background-color: #c55236;
    }



/* バナーサイト */

.banner>h1{
    text-align: center;
    margin-bottom: 100px;
}



.banner-wrapper{
    display: flex;
    max-width: 800px;
    margin: 50px auto 150px;
    justify-content: space-between;
}

.banner-box{
    width: 48%;
}
.banner-box>h2{
    margin-bottom: 20px;
}

.banner-box>p{
    height: 250px;
    
}

.banner-pc{margin-bottom: 200px;}



.banner-sp{
    width: 320px;
    margin-bottom: 200px;

}

.banner-box>dl{
    margin: 20px 0;



}
.banner-box dt{
   font-size: 18px;
   font-weight: bold;
}
.banner-box dd{
  margin: 16px;

}

/* カラー情報 */
.banner-box span{
    margin-right: 20px;
    font-size: 22px;
}

.banner-box span::before{
display: inline-block;
content:"";
width: 40px;
height: 40px;
margin-right: 10px;
}

/* USENのバナー */
.usen>.banner-box span:first-of-type::before{
    background-color: #43c625;

}

.usen>.banner-box span:nth-of-type(2)::before{
    background-color: #ffff00;
}

.usen>.banner-box span:nth-of-type(3)::before{
    background-color: #ff7301;
}



/* 水族館のバナーPC */

.aquarium>.banner-box span:first-of-type::before{
    background-color: #17A8BB;

}

.aquarium>.banner-box span:nth-of-type(2)::before{
    background-color: #0A8FAD;
}

.aquarium>.banner-box span:nth-of-type(3)::before{
    background-color: #2C6CB5;
}


/* 水族館のバナーSP */
.aquarium>.sp span:first-of-type::before{
    background-color: #17A8BB;
}


.aquarium>.sp span:nth-of-type(2)::before{
    background-color: #185CE0;
}


.aquarium>.sp span:nth-of-type(3)::before{
    background-color: #000000;
}



/* 既存サイト風のバナーPC */

.ham>.banner-box span:first-of-type::before{
    background-color: #2e2e2e;

}

.ham>.banner-box span:nth-of-type(2)::before{
    background-color: #e39902;
}

.ham>.banner-box span:nth-of-type(3)::before{
    background-color: #9f4e03;
}



/* 既存サイト風のバナーPC */

.ham>.sp span:first-of-type::before{
    background-color: #2e2e2e;

}

.ham>.sp span:nth-of-type(2)::before{
    background-color: #ffeab0;
}

.ham>.sp span:nth-of-type(3)::before{
    background-color: #ff0000;
}


/* ローソンバナーPC */

.lowson>.banner-box span:first-of-type::before{
    background-color: #1b3600;

}

.lowson>.banner-box span:nth-of-type(2)::before{
    background-color: #5b7502;
}

.lowson>.banner-box span:nth-of-type(3)::before{
    background-color: #ffffff;
}




/* かぎこうバナーPC */

.kagikou>.banner-box span:first-of-type::before{
    background-color: #018c25;

}

.kagikou>.banner-box span:nth-of-type(2)::before{
    background-color: #ff7f00;
}


/* 夏期講習バナーPC */

.kakikousyu>.banner-box span:first-of-type::before{
    background-color: #4cddbe;

}

.kakikousyu>.banner-box span:nth-of-type(2)::before{
    background-color: #be2d4c;
}



/* 新春福袋バナーPC */

.hukubukuro>.banner-box span:first-of-type::before{
    background-color: #ff7bac;

}

.hukubukuro>.banner-box span:nth-of-type(2)::before{
    background-color: #fa0200;
}

.hukubukuro>.banner-box span:nth-of-type(3)::before{
    background-color: #95fdfd;
}




/* 新春初売りバナーPC */


.hatsuuri-1>.banner-box span:first-of-type::before{
    background-color: #fe0000;

}

.hatsuuri-1>.banner-box span:nth-of-type(2)::before{
    background-color: #0caec7;
}

.hatsuuri-1>.banner-box span:nth-of-type(3)::before{
    background-color: #38bfc5;
}




/* 新春初売りバナー2PC */


.hatsuuri-2>.banner-box span:first-of-type::before{
    background-color: #009345;

}

.hatsuuri-2>.banner-box span:nth-of-type(2)::before{
    background-color: #ffff01;
}

.hatsuuri-2>.banner-box span:nth-of-type(3)::before{
    background-color: #38bfc5;
}


/* 京都観光バナー2PC */


.kyoto>.banner-box span:first-of-type::before{
    background-color: #96121d;

}

.kyoto>.banner-box span:nth-of-type(2)::before{
    background-color: #b780be;
}

.kyoto>.banner-box span:nth-of-type(3)::before{
    background-color: #f4adac;
}






/* summerバナー2PC */


.summer>.banner-box span:first-of-type::before{
    background-color: #96121d;

}

.summer>.banner-box span:nth-of-type(2)::before{
    background-color: #b780be;
}

.summer>.banner-box span:nth-of-type(3)::before{
    background-color: #f4adac;
}




/* コードペン部分 */

.code-wrapper{
   /*  display: flex; */
    max-width: 1200px;
    margin: 50px auto 150px;
    justify-content: space-between;
}

.code-pc{
    margin-bottom: 30px;
}



.code-body>h1{
    text-align: center;
}


.code-pen>h2{
    margin-bottom: 10px;
}

.code-pen-point>h3{
    font-size: 28px;
    margin: 50px 0 10px ;
}
.code-pen-point>p{
    font-size: 20px;
    padding: 0 20px;
    margin-bottom: 100px;
    
}










/* webサイト */

/* 575px以下のレイアウト */







@media(max-width:767px){
    .banner-wrapper{
        display: block;
    }

    .banner-box{
        width: 100%;
        margin-bottom: 80px;
    }

    .banner-box>p{
        margin: 0 auto 400px;
    }
    .banner-box span{
        display: block;
    }
    .production-box{
        width: 600px;
     }
     .txt-box{
        width: 600px;
     }
     .point-box{
        width: 500px;
    }
    
    .Reflection-box{
        width: 500px;
    }
    .production-box-1-2-1{
        width: 500px;
    }

    .Reflection-box{
        width: 500px;
    }
    .production-box-1-2-1{
        width: 400px;
    }

    .txt-box-1-2-1{
        width: 400px;
    }
}

@media(max-width:575px){
 .txt-wrapper{
    display: block;
 }
 .production-box{
    width: 300px;
 }
 .txt-box{
    width: 300px;
 }
 .point-box{
    width: 300px;
}

.Reflection-box{
    width: 300px;
}
.production-box-1-2-1{
    width: 300px;
}
.txt-box-1-2-1{
    width: 300px;
}



}


/* about部分 */

.js-cd-timeline{
    background-color: #a25768;
}

.cd-timeline__block{
    font-family: sans-serif!important;
    background-color: #d3c5c5;
    border-radius: 20px;
    font-size:18px;
    
    
}

.color-contrast-medium{
    color: #2f2f2f;
    font-size: 16px;
}

.cd-timeline__date{
    color:#000;
    font-size: 20px;
}

.cd-timeline__content{
    border-radius: 20px;
}

.cd-timeline__img--picture{
    background-color: #8080af;
}


.p-txt{
    color: #000;
    text-decoration: underline;
}

.point-box>h3{
    margin: 50px 0 10px;
    font-size: 28px;
}

.point-box>h4{
    margin: 100px 0 10px;
    font-size: 28px;
     
}


.point-box img{
    max-width: 500px;
    margin: 0 auto 100px;
}

.photo-box-2img{
    max-width:500px;
    display: flex;
    margin: 0 auto;
}



.photo-box-2{
    text-align: center;
    
}


.big-txt{
    font-size: 50px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.small-txt{
    font-size: 14px;
}




.youken-page{
    width: 30%;
    margin: 0 auto 150px ;
    background-color: #3d67a9;
    border-radius: 10px;
   

    }




.youken-page>a{
    display: block;
    text-align: center;
    padding: 20px;
    color: #e1e1e1;
    font-size: 24px;
    text-decoration: underline;
    text-underline-offset:3px;
    
   }

   .youken-page>a:hover{
    background-color: #4372bd;
    border-radius: 10px;
   }

    .youken-page>a::after{
    
    content:"";
    height: 30px;
    width: 44px;
    position: relative;
    right: 210px;
    top: 15px;
}